Django
gunicorn
mysqlclient
django-simple-history
fake-factory
-e git+https://github.com/erikvw/django-crypto-fields@develop#egg=django_crypto_fields
-e git+https://github.com/erikvw/django-revision@develop#egg=django_revision
-e git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
-e git+https://github.com/botswana-harvard/edc-call-manager@develop#egg=edc_call_manager
-e git+https://github.com/botswana-harvard/edc-consent@develop#egg=edc_consent
-e git+https://github.com/botswana-harvard/edc-content-type-map@develop#egg=edc_content_type_map
-e git+https://github.com/botswana-harvard/edc-locator@develop#egg=edc_locator
-e git+https://github.com/botswana-harvard/edc-identifier@develop#egg=edc_identifier
-e git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc_constants
-e git+https://github.com/botswana-harvard/edc-lab@develop#egg=edc_lab