<div class="pagination">
    <span class="step-links">
    	 <a href="#" class="btn btn-sm btn-default"><<</a>
    	
        {% if dispenses.has_previous %}
            <a href="#" class="btn btn-sm btn-default"><</a>
        {% else %}
        	<a class="btn btn-sm disabled btn-default"><</a>
        {% endif %}

        <span class="text small">
            Page {{ subject_requisition.number }} of {{ subject_requisition.paginator.num_pages }}
        </span>

        {% if subject_requisition.has_next %}
            <a href="#" class="btn btn-sm btn-default">></a>
        {% else %}
        	<a class="btn btn-sm disabled btn-default">></a>
        {% endif %}
        
        <a href="#" class="btn btn-sm btn-default">>></a>
    </span>
</div>