
<h5>Appointments</h5>                        
<a href="#">add continuation appointment</a>
<table class="table table-striped">
	<thead>
    	<tr>
    		<th>Code</th>
    		<th>Description</th>
    		<th>Type</th>
    		<th>Appt. Date</th>
    		<th>Status</th>
    		<th>Visit Report</th>
    		<th>Visit Reason</th>
    		<th>Action</th>                                    
    	</tr>
    </thead>
    <tbody>
	    <tr>
	    	<td><b></b></td>
	        <td><b></b></td>
			<td></td>
			<td></td>
			<td><a href="#">Done</a></td>
	        <td><a href="">2016-10-03 Mon</a></td>
	        <td><b></b></td>
		    <td><a href="#">show appointments</a></td>
	   	</tr>
    </tbody>
</table>