 <td>
<h5>Scheduled Labs  for Visit 1000M</h5>
<i> Hint: To edit the labs below, change the selected appointment's status to 'In Progress'</i> 
<table class="table-striped">
	<thead>
		<tr>
			<th></th><th>#</th><th>Title</th><th>Requisition</th><th>Status</th><th>Due</th><th>User</th><th>Created/Modified</th>                        
			<th>Comment</th><th>Browse</th><th>Audit</th>                
		</tr>
	</thead>
	<tbody>
    	<tr>
    		<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>                        
			<td></td><td></td><td></td>   
    	</tr>
	</tbody>
</table>
 </td>