<h5>Scheduled Labs  for Visit {{visit_code}}</h5>
<i> Hint: To edit the labs below, change the selected appointment's status to 'In Progress'</i> 
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Requisition</th>
			<th>Requisition identifier</th>
			<th>Status</th>
			<th>Due</th>
			<th>User</th>
			<th>Created/Modified</th>                        
			<th>Comment</th>
			<th>Browse</th>
			<th>Audit</th>                
		</tr>
	</thead>
	<tbody>
	{% for requisition in requisitions %}
    	<tr>
    		<td>{{forloop.counter}}</td>
    		<td>{{requisition.panel_name}}</td>
    		<td>
    			{% if requisition.subject_requisition %}
    				<a href="{% url 'admin:amp_subjectrequisition_change' requisition.subject_requisition.pk %}?subject_visit={{requisition.subject_visit.id}}&appointment_id={{requisition.appointment.id}}&subject_identifier={{requisition.subject_identifier}}">Subject Requisition</a>
    			{% else %}
    				<a href="{% url 'admin:amp_subjectrequisition_add' %}?subject_visit={{requisition.subject_visit.id}}&appointment_id={{requisition.appointment.id}}&subject_identifier={{requisition.subject_identifier}}">Add Subject Requisition</a>
    			{% endif %}
    		</td>
    		<td>
    		{% if requisition.subject_requisition %}
    			{{ requisition.subject_requisition.requisition_identifier }}
    		{% else %}
    			---
    		{% endif %}
    		</td>
    		<td>{{requisition.entry_status}}</td>
    		<td>{{requisition.due_datetime}}</td>
    		<td>{{requisition.user_created}}</td>
    		<td>{{requisition.created}}</td>
    		<td>{{requisition.entry_comment}}</td>
    		<td>{{requisition.entry_comment}}</td>                        
			<td>{{requisition.visit_code}}</td>  
    	</tr>
    {% endfor %}
	</tbody>
</table>