
<h5>Scheduled Forms  for Visit '1000M'</h5>
<i> Hint: To edit the forms below, change the selected appointment's status to 'In Progress'</i> 
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Status</th>
			<th>Due</th>
			<th>User</th>                        
			<th>Created/Modified</th>                        
			<th>Comment</th>        
			<th>Browse</th>                        
			<th>Audit</th>                
		</tr>
	</thead>
	<tbody>
		<tr>
		    <td>1</td>
		    <td>
		        Maternal Locator
		    </td>                
		    <td>
		        KEYED
		    </td>
		    <td>2016-10-03</td>
		    <td>imhlabi</td>            
		    <td>2016-10-03 12:48/2016-10-03 12:48</td>            
		    <td></td>        
		    <td>
		        <a href="/databrowse/td_maternal/maternallocator/objects/d9b90e1e-ad9d-438d-ab82-5b303572ae69/?next=subject_dashboard_url&amp;dashboard_type=maternal&amp;dashboard_model=visit&amp;dashboard_id=bb15f1ea-ba03-43eb-85ee-b1be978c2375&amp;show=forms">Browse</a>
		    </td>
		    <td>
		      <a href="/audit_trail/td_maternal/maternallocator/085-40990011-1/?next=subject_dashboard_url&amp;app_label=td_maternal&amp;dashboard_type=maternal&amp;dashboard_model=visit&amp;dashboard_id=bb15f1ea-ba03-43eb-85ee-b1be978c2375&amp;show=forms">Audit trail visit</a>
		    </td>
	  </tr>
	</tbody>
</table>
