{% extends "edc_base/base.html" %}
{% load staticfiles %}

{% block main %}
<div class="container">

<!-- Beginning of Demographic Div -->
<div class="row" style="min-height:100px; border:1px solid black;">
</div>
<!-- End of Demographic Div -->

<!-- Begin Visits Div -->
<div class="row">
<!-- 9-col-visits -->
	<div class="col-md-9" style="min-height:200px; border:1px solid black;">
	</div>
<!-- End 9-col-visits -->

<!-- Begin 3-col-visits -->
	<div class="col-md-3" style="min-height:200px; border:1px solid black;">
	</div>
<!-- End 3-col-visits -->

</div>
<!-- End Visits Div -->

</div>
{% endblock main %}