{% extends "edc_base/base.html" %}
{% load staticfiles %}

{% block main %}
<div class="container">

<!-- Beginning of Demographic Div -->
<div class="row" style="border:1px solid #eeeeee;">
<address>
  <strong>{{dashboard_type}} Dashboard</strong> 
  <hr style="margin-top:4px; margin-bottom:4px;">
  	<mark>
		{% for key, value in markey_data.items %}
		    <strong>{{key}}:</strong><span style="margin-left:5px;">{{value}}</span>
		    {% if forloop.counter == markey_next_row %}
		    	<br>
		    {% endif %}
		{% endfor %}
  	</mark>
</address>
</div>
<!-- End of Demographic Div -->

<!-- Begin Visits Div -->
<div class="row">
<!-- 9-col-visits -->
	<div class="col-md-9" style="min-height:200px; border:1px solid #eeeeee;">
	{% block membership_forms %}
		<blockquote class="blockquote" style="margin:0px">
  		<ul class="list-inline text-primary">
  			<li class="list-inline-item small">
  				 {% for consent in consents %}
  					<a href="">066-40630025-1 (BCPP Year 2) V5 (complete)</a>
	 			{% endfor %}
  			</li>
		</ul>
	</blockquote>
	{% endblock membership_forms %}
	{% block appointments %}
    	{% include "amp_dashboard/appointment_forms.html" %}
	{% endblock appointments %}

    {% block scheduled_data_collection %}
 
        {{ rendered_scheduled_forms }}
        
    {% endblock scheduled_data_collection %}

    {% block scheduled_requisitions %}

        {{ rendered_scheduled_requisitions }}
        
    {% endblock scheduled_requisitions %}
	</div>
<!-- End 9-col-visits -->

<!-- Begin 3-col-visits -->
	<div class="col-md-3" style="min-height:200px; border:1px solid #eeeeee;">
	{% block locator_information %}
	{% endblock locator_information %}
	</div>
<!-- End 3-col-visits -->

</div>
<!-- End Visits Div -->

</div>
{% endblock main %}